@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

body {
  background-color: #3904b3;
  color: #69c539;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  height: 100vh;
}

.container {
  margin: 20px 20px;
}

h1 {
  font-size: 4em;
  font-weight: 400;
  margin-bottom: 40px;
}

p {
  font-size: 4em;
  font-weight: 400;
}

.search-form {
  display: flex;
}

#search {
  background-color: #3904b3;
  border: 2px solid #69c539;
  width: 500px;
  height: 55px;
  color:#69c539;
  font-size: 1.5em;
  border-radius: 30px 0 0 30px;
  padding-left: 20px;
  margin-bottom: 40px;
  font-weight: 600;
}

.btn {
  background-color: #69c539;
  height: 55px;
  border: 2px solid #69c539;
  color:#3904b3;
  width: 125px;
  border-radius: 0 30px 30px 0;
  font-weight: 600;
}

.btn:hover{
  background-color: #fff;
  cursor: pointer;
  border: none;
}

@media (min-width: 375px) and (max-width: 750px) {
  .search-form {
    display: flex;
    flex-direction: column;
  }

  .btn {
    border-radius: 30px;
    margin-bottom: 40px;
  }

  #search {
    width: 90vw;
    border-radius: 30px;
    margin-bottom: 20px;
  }

  h1, p {
    font-size: 3.5em;
  }
}